<h2><%= @project.name %></h2>

<h3>Rubric</h3>

<% if @project.rubrics %>
  <%= render "rubric_table" %>
<% else %>
  <p>No rubric categories added. Use the form below.</p>
<% end %>

<h3>Add Rubric Category</h3>

<%= form_for [:instructors, @project, @rubric] do |f| %>
  <%= f.label :rubric_category %><br>
  <%= f.collection_select(:rubric_category_id, RubricCategory.all, :id, :title) %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  <%= f.submit "Add Rubric Category" %>
<% end %>
