<h2><%= @student.full_name %></h2>

<h3>Assigned Projects</h3>

<% if @student.projects %>
  <ul>
    <% @student.projects.each do |project| %>
      <ul>
        <%= project.name %>
      </ul>
    <% end %>
  </ul>
<% end %>

<h3>Assign a New Project</h3>

<%= form_for(@assignment, url: instructors_student_assignments_path(@student, @assignment)) do |f| %>
  <%= f.label :project %><br>
  <%= f.collection_select(:project_id, Project.all, :id, :name) %>
  <%= f.submit "Assign Project" %>
<% end %>
