<h1>Instructor Dashboard</h1>

<%= link_to "Import Cohorts", instructors_turing_cohorts_path, method: "PATCH" %>

<% if current_user.flock %>
  <h2>Current Cohort: <%= current_user.flock.name %></h2>
<% end %>

<h2>Update the Cohort You're Teaching</h2>

<%= form_for([:instructors, current_user]) do |f| %>
  <%= f.collection_select(:flock_id, TuringCohort.order(:name), :id, :name) %>
  <%= f.submit "Update Cohort" %>
<% end %>


<% if current_user.students %>
  <h2>Students</h2>

  <% if current_user.flock %>
    <%= link_to "Update Students from #{current_user.flock.name}", instructors_students_path, method: "PATCH" %>
  <% end %>

  <table>
    <tr>
      <th>Name</th>
      <th>Average Score</th>
    </tr>
    <% @students.each do |student| %>
      <td><%= student.full_name %></td>
      <td><%= student.average_scores %></td>
    <% end %>
    </tr>
  </table>
<% end %>

